<!--include header-->
<%- include('include/_header') %>
    <!--/include header-->

    <!-- <span style="color: white; font-size: xx-large; text-align: center;"> Employee Portal </span> -->

    </div>
    </div>
    </nav>
    </header>
    <!--/Header-->

    <div class="row">
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-2">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center;">
                    <h3 class="panel-title">ELMS</h3>
                </div>
                <div class="panel-body" style="font-size: 5rem; text-align: center;">
                    <a href="/dashboard"><i class="far fa-calendar-alt"></i></a>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center;">
                    <h3 class="panel-title">AGENDA</h3>
                </div>
                <div class="panel-body" style="font-size: 5rem; text-align: center;">
                    <a href="/inprogress"><i class="fas fa-tasks"></i></a>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center;">
                    <h3 class="panel-title">MAIL</h3>
                </div>
                <div class="panel-body" style="font-size: 5rem; text-align: center;">
                    <a href="/inprogress">
                        <i class="fas fa-mail-bulk"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center;">
                    <h3 class="panel-title">MYPHOTO</h3>
                </div>
                <div class="panel-body" style="font-size: 5rem; text-align: center;">
                    <a href="/inprogress">
                        <i class="fas fa-image"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

    </div>
    <!--include footer-->
    <%- include('include/_footer') %>
        <!--include footer-->