<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave & WFH Management System</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!--Header-->
    <header id="header">
            <div class="header">
                <div class="text-center">
                    <a style="float: left; color:white;" href="/">
                        <img style="border-radius: 0%;" src="img/logo-colruyt-group.png" height="40px" width="200px"/></a>
                    
                    <a style="float: right; color:white;text-decoration: none;" href="/logout">Logout</a>
                    