<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Portal</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!--Header-->
    <header id="header">
        <div class="header">
            <div class="row">

                <div class="col-3" style="height: 50px;"><a style="color:white;" href="https://www.colruytgroup.com/wps/portal/cg/en/home">
                    <img src="img/logo-colruyt-group.png" style="border-radius: 0%;" height="50px" width="200px" /></a></div>
                <div class="col-6" style="height: 50px; text-align: center; font-size: xx-large;">  <a style="color:white;text-decoration: none;" href="/">Employee Portal</a> |</div>
                <div class="col-3" style="height: 50px;"><span style="float: right; padding: 10px 10px 0 0; color:white;text-decoration: none;">
                    <a style="color:white;text-decoration: none;" href="/employee/login">Login</a> |
                    <a style="color:white;text-decoration: none;" href="/logout">Logout</a>
                </span></div>
            </div>
 
        </div>
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>